<!-- 
  This template will load in the <ui-view> when we start the application. 
  Notice the ng-init attribute, which will load the listings from our server on initializing the view. 
  -->
<div class="row" ng-controller="ListingsController" ng-init="find()">
  <div class="col-md-offset-1 col-md-10">
    <ui-gmap-google-map center="map.center" zoom="map.zoom" options="options">
    <ui-gmap-markers models="markers" coords="'self'" icon="'icon'"></ui-gmap-markers>

    </ui-gmap-google-map>

    <img id="loader" ng-show="loading" src="/../../img/484.gif">
  </div>
</div>
